{% load tags %}

<h5 class="shop-tittle margin-bottom-30">category</h5>
<ul class="shop shop-cate">
    {% get_blog_categories as blog_categories %}
    {% for category in blog_categories %}
        <li class="{% if request.path == '/blogs/category/'|add:category.slug|add:'/' %}active{% endif %}">
            <a href="{% url 'blog:blog_category_view' category.slug %}">
                {{ category.name }}
                <span>{{ category.blogs.count }}</span>
            </a>
        </li>
    {% endfor %}
</ul>